body {
    background-color: black;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
}

p {
    color: white;
    font-size: 1rem;
}

div {
    padding-top: 10px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

img {
    width: 100%;
    border: 5px solid white;
}